<?xml version="1.0" encoding="utf-8"?>
<layout
    xmlns:android="http://schemas.android.com/apk/res/android">
    <data>
        <variable name="behavior" type="com.example.administrator.activity.WebViewActivity"/>
    </data>
    <LinearLayout
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:orientation="vertical" >
        <include
            android:id="@+id/title_layout"
            layout="@layout/title_layout" />
        <ProgressBar
            android:id="@+id/progress_bar"
            style="?android:progressBarStyleHorizontal"
            android:layout_width="fill_parent"
            android:layout_height="8dip"
            android:max="100"
            android:progress="0"
            android:progressDrawable="@drawable/progress_horizontal_img"
            android:visibility="gone" />
        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent">
            <WebView
                android:id="@+id/webView"
                android:layout_width="fill_parent"
                android:layout_height="fill_parent"/>
            <ImageView
                android:id="@+id/webviewloading"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_centerInParent="true"
                android:background="@mipmap/webviewloading"/>
        </RelativeLayout>
    </LinearLayout>
</layout>